<table>
  <tbody>
    <tr>
      <th>The number of days after resolved</th>
      <td><input type="number" id="settings_number_of_days"
        value="<%= settings['number_of_days'] %>"
        name="settings[number_of_days]" >
      </tr>
    </tbody>
  </table>
